/* line 4, ../scss/src/_typography.scss */
body {
  font: 200 15px/25px "open sans";
}
@media screen and (max-width: 768px) {
  /* line 4, ../scss/src/_typography.scss */
  body {
    font: 200 13px/18px "open sans";
  }
}

/* line 12, ../scss/src/_typography.scss */
h1 {
  color: #fff;
  font: 600 4em "open sans";
  margin: 0 0 1.2em 0;
  text-transform: uppercase;
}

/* line 19, ../scss/src/_typography.scss */
h2 {
  color: #fff;
  font: 600 1.6666em/1.6666em "open sans";
  text-transform: uppercase;
}

/* line 25, ../scss/src/_typography.scss */
.header, h3, .header--title {
  color: #fff;
  font: 600 1.333em/1.333em "open sans";
  text-transform: uppercase;
}

/* line 35, ../scss/src/_typography.scss */
h4, h5 {
  text-align: left;
  font: 600 1em/1em "open sans";
  margin: 0 0 1em 0;
}

/* line 41, ../scss/src/_typography.scss */
.header--title {
  color: #666;
  width: 60%;
  margin: 1.666em 20% 1.333em 20%;
  border-top: 2px solid #222;
}
@media screen and (max-width: 768px) {
  /* line 41, ../scss/src/_typography.scss */
  .header--title {
    width: 100%;
    margin: 0;
  }
}
/* line 57, ../scss/src/_typography.scss */
.header--title .header--title__text {
  position: relative;
  top: -1em;
  padding: 0.666em 1.333em;
  background: #fff;
}

/* line 66, ../scss/src/_typography.scss */
a {
  /* Default anchor styling */
  color: #12A9B2;
  text-decoration: none;
  padding: 0 0 2px 0;
  border-bottom: 1px dotted #12A9B2;
  /* Inverse anchors */
}
/* line 74, ../scss/src/_typography.scss */
a.a--inverse {
  color: #ffffff;
  border-color: #ffffff;
}

/* line 81, ../scss/src/_typography.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 87, ../scss/src/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 92, ../scss/src/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 97, ../scss/src/_typography.scss */
blockquote {
  margin: 1em 40px;
}

/* line 102, ../scss/src/_typography.scss */
dfn {
  font-style: italic;
}

/* line 107, ../scss/src/_typography.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 114, ../scss/src/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 121, ../scss/src/_typography.scss */
p,
pre {
  margin: 1em 0;
}

/* line 127, ../scss/src/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 134, ../scss/src/_typography.scss */
q {
  quotes: none;
}

/* line 139, ../scss/src/_typography.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 146, ../scss/src/_typography.scss */
small {
  font-size: 80%;
}

/* line 151, ../scss/src/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 159, ../scss/src/_typography.scss */
sup {
  top: -0.5em;
}

/* line 163, ../scss/src/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 167, ../scss/src/_typography.scss */
ul li {
  list-style: inside;
  margin: 1em 0;
}

/* line 172, ../scss/src/_typography.scss */
date {
  font-style: italic;
  color: #999;
}

/**
* Colours
*/
/* line 9, ../scss/src/_helpers.scss */
.white {
  color: #fff;
}

/* line 13, ../scss/src/_helpers.scss */
.black {
  color: #000;
}

/**
* Floats
*/
/* line 21, ../scss/src/_helpers.scss */
.float--right {
  float: right;
}

/* line 25, ../scss/src/_helpers.scss */
.float--left {
  float: left;
}

/* line 29, ../scss/src/_helpers.scss */
.float--none {
  float: none;
}

/**
* Text alignment
*/
/* line 37, ../scss/src/_helpers.scss */
.text--left {
  text-align: left;
}

/* line 41, ../scss/src/_helpers.scss */
.text--center, .header--title {
  text-align: center;
}

/* line 45, ../scss/src/_helpers.scss */
.text--right {
  text-align: right;
}

/**
* Block level
*/
/* line 53, ../scss/src/_helpers.scss */
.elem--block {
  display: block;
}

/* line 57, ../scss/src/_helpers.scss */
.elem--inline-block {
  display: inline-block;
}

/* line 61, ../scss/src/_helpers.scss */
.elem--inline {
  display: inline;
}

/**
* Text sizing
*/
/* line 70, ../scss/src/_helpers.scss */
.text-inherit {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

/**
* Remove margins
*/
/* line 80, ../scss/src/_helpers.scss */
.flush {
  margin: 0;
}

/* line 84, ../scss/src/_helpers.scss */
.flush--top {
  margin-top: 0;
}

/* line 88, ../scss/src/_helpers.scss */
.flush--right {
  margin-right: 0;
}

/* line 92, ../scss/src/_helpers.scss */
.flush--bottom {
  margin-bottom: 0;
}

/* line 96, ../scss/src/_helpers.scss */
.flush--left {
  margin-left: 0;
}

/* line 4, ../scss/src/_layout.scss */
.grid__item {
  position: relative;
  display: inline-block;
  width: 100%;
  float: left;
  padding-right: 30px;
}
@media screen and (max-width: 800px) {
  /* line 4, ../scss/src/_layout.scss */
  .grid__item {
    width: 100% !important;
  }
}
/* line 13, ../scss/src/_layout.scss */
.grid__item.work__item {
  padding-right: 10px;
  padding-bottom: 10px;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--1-1 {
  width: 100%;
  margin-right: 0;
  border: 0;
}
/* line 25, ../scss/src/_layout.scss */
.grid__item.grid__item--1-1:after {
  content: "";
  display: table;
  clear: left;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--1-2 {
  width: 50%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--2-2 {
  width: 100%;
  margin-right: 0;
  border: 0;
}
/* line 25, ../scss/src/_layout.scss */
.grid__item.grid__item--2-2:after {
  content: "";
  display: table;
  clear: left;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--1-3 {
  width: 33.33333%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--2-3 {
  width: 66.66667%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--3-3 {
  width: 100%;
  margin-right: 0;
  border: 0;
}
/* line 25, ../scss/src/_layout.scss */
.grid__item.grid__item--3-3:after {
  content: "";
  display: table;
  clear: left;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--1-4 {
  width: 25%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--2-4 {
  width: 50%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--3-4 {
  width: 75%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--4-4 {
  width: 100%;
  margin-right: 0;
  border: 0;
}
/* line 25, ../scss/src/_layout.scss */
.grid__item.grid__item--4-4:after {
  content: "";
  display: table;
  clear: left;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--1-5 {
  width: 20%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--2-5 {
  width: 40%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--3-5 {
  width: 60%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--4-5 {
  width: 80%;
}
/* line 19, ../scss/src/_layout.scss */
.grid__item.grid__item--5-5 {
  width: 100%;
  margin-right: 0;
  border: 0;
}
/* line 25, ../scss/src/_layout.scss */
.grid__item.grid__item--5-5:after {
  content: "";
  display: table;
  clear: left;
}
/* line 34, ../scss/src/_layout.scss */
.grid__item.grid__item--last, .grid__item.grid__item--full {
  margin-right: 0;
  border: 0;
}
/* line 38, ../scss/src/_layout.scss */
.grid__item.grid__item--last:after, .grid__item.grid__item--full:after {
  content: "";
  display: table;
  clear: left;
}
/* line 44, ../scss/src/_layout.scss */
.grid__item.grid__item--first {
  clear: left;
}
/* line 47, ../scss/src/_layout.scss */
.grid__item.no-border {
  border: 0;
}

/* Base styles */
/* line 3, ../scss/src/_base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/src/_base.scss */
img {
  max-width: 100%;
}

/* line 14, ../scss/src/_base.scss */
section {
  padding: 3em 0 3em 0;
}

/* line 18, ../scss/src/_base.scss */
.container {
  width: 100%;
  max-width: 64.375em;
  margin: 0 auto;
  padding: 0 2em 0px 2em;
}
/* line 24, ../scss/src/_base.scss */
.container:before, .container:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 768px) {
  /* line 18, ../scss/src/_base.scss */
  .container {
    width: 100%;
  }
}

/* line 35, ../scss/src/_base.scss */
header, footer {
  float: left;
  width: 100%;
  background: #95a5a6;
  padding: 2em 0;
  text-align: center;
}
/* line 42, ../scss/src/_base.scss */
header span, header a, footer span, footer a {
  color: #fff;
  border-color: #fff;
  font-size: 0.9em;
}
@media screen and (max-width: 768px) {
  /* line 35, ../scss/src/_base.scss */
  header, footer {
    width: 100%;
  }
}
/* line 52, ../scss/src/_base.scss */
header.banner, footer.banner {
  display: table;
  background: url("../img/cover.jpg") no-repeat;
  background-size: cover;
}
/* line 56, ../scss/src/_base.scss */
header.banner .container, footer.banner .container {
  display: table-cell;
  vertical-align: middle;
}
/* line 60, ../scss/src/_base.scss */
header.banner .arrow, footer.banner .arrow {
  position: absolute;
  display: block;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 8%;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 25% auto 0 auto;
  background: rgba(0, 0, 0, 0.4);
}
/* line 74, ../scss/src/_base.scss */
header.banner .arrow img, footer.banner .arrow img {
  padding: 25px 0 0 0;
}

/* line 81, ../scss/src/_base.scss */
footer {
  margin: 2em 0 0 0;
  float: left;
  padding: 10px 0px;
  color: #fff;
  text-align: left;
}

/* line 90, ../scss/src/_base.scss */
main {
  float: left;
  width: 100%;
  padding: 3em 0;
}

/* Header styles */
/* line 98, ../scss/src/_base.scss */
header .contact {
  padding: 2em 0 0 0;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  /* line 98, ../scss/src/_base.scss */
  header .contact {
    width: 100%;
  }
}

/* line 108, ../scss/src/_base.scss */
header .contact .address {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 0 0.666em 0;
  display: block;
}

/* Horizontal rule - use anywhere */
/* line 117, ../scss/src/_base.scss */
hr {
  margin: 2em 0 3em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Drop down - used for work */
/* line 124, ../scss/src/_base.scss */
.toggle-dropdown {
  display: none;
}

/* line 133, ../scss/src/_base.scss */
.dropdown {
  margin-top: 30px;
  display: block;
}
/* line 142, ../scss/src/_base.scss */
.dropdown li {
  list-style: none;
  padding: 0 20px 20px 20px;
  border-left: 10px solid #9baaab;
  margin: 0;
}
/* line 148, ../scss/src/_base.scss */
.dropdown li:nth-child(2n) {
  border-color: #bfc8c9;
}

/* line 155, ../scss/src/_base.scss */
.work .work__item {
  cursor: pointer;
}
/* line 157, ../scss/src/_base.scss */
.work .work__item img {
  display: block;
  width: 100%;
}
/* line 162, ../scss/src/_base.scss */
.work .work__item:hover .hover {
  opacity: 1;
}
/* line 166, ../scss/src/_base.scss */
.work .work__item .work__inner {
  position: relative;
  display: block;
  overflow: hidden;
}
/* line 171, ../scss/src/_base.scss */
.work .work__item .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
/* line 177, ../scss/src/_base.scss */
.work .work__item .hover span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
  display: block;
  max-width: 80%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/* line 193, ../scss/src/_base.scss */
.popup {
  position: fixed;
  background: #efefef;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 9999;
}
/* line 199, ../scss/src/_base.scss */
.popup h1, .popup h2, .popup h3, .popup p {
  color: #222;
}

/* line 204, ../scss/src/_base.scss */
.popup__inner {
  position: relative;
  padding: 15% 0;
  float: left;
}

/* line 210, ../scss/src/_base.scss */
.popup__close {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  cursor: pointer;
  z-index: 999;
}

/* line 219, ../scss/src/_base.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 226, ../scss/src/_base.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  list-style: none;
}
/* line 234, ../scss/src/_base.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 239, ../scss/src/_base.scss */
.rslides li img,
.rslides li video {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  padding: 3px;
}

/* line 252, ../scss/src/_base.scss */
.rslides_tabs li {
  display: inline-block;
  list-style: none;
}
/* line 256, ../scss/src/_base.scss */
.rslides_tabs li.rslides_here a {
  background: #12A9B2;
}
/* line 261, ../scss/src/_base.scss */
.rslides_tabs a {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  text-indent: -999px;
}

/* Video player */
/* line 274, ../scss/src/_base.scss */
.vjs-default-skin {
  color: #ffffff;
}

/* line 275, ../scss/src/_base.scss */
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
  background-color: #ffffff;
}

/* line 277, ../scss/src/_base.scss */
.vjs-default-skin .vjs-control-bar,
.vjs-default-skin .vjs-big-play-button {
  background: rgba(255, 255, 255, 0.7);
}

/* line 279, ../scss/src/_base.scss */
.vjs-default-skin .vjs-slider {
  background: rgba(255, 255, 255, 0.23333);
}

/* line 280, ../scss/src/_base.scss */
.vjs-default-skin .vjs-control-bar {
  font-size: 77%;
}
