//----------- Pallette --------------//
//-----------------------------------//

$primary : #95a5a6;
$secondary : #fff;
$font-colour : #666;
$link-color: #12A9B2;
$link-hover-color: #ffffff;

//----------- States ----------------//
//-----------------------------------//

$show-projects-on-load : true;

//----------- Sizing ----------------//
//-----------------------------------//

$max-width: 64.375em;

//----------- Typography ------------//
//-----------------------------------//

$fontname : "open sans";