//----------- Typography --------------//
//-------------------------------------//


/**
* Colours
*/

.white{
    color: #fff;
}

.black{
    color: #000;
}

/**
* Floats
*/

.float--right {   
    float:right; 
}

.float--left {
    float:left;
}

.float--none {
    float:none;
}

/**
* Text alignment
*/

.text--left {   
    text-align:left;
}

.text--center {
    text-align:center;
}

.text--right {
    text-align:right;
}

/**
* Block level
*/

.elem--block {
   display: block;
}

.elem--inline-block {
    display: inline-block;
}

.elem--inline {
    display: inline;
}


/**
* Text sizing
*/

.text-inherit{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/**
* Remove margins
*/

.flush {
    margin: 0;
}

.flush--top {
    margin-top: 0;
}

.flush--right {
    margin-right: 0;
}

.flush--bottom {
    margin-bottom:0;
}

.flush--left {
    margin-left: 0;
}

